.victoryScreen {
  background-color: #e7e7e7;
  text-align: center;
  height: 100%;
}

.victoryHeader {
  margin: 0;
  padding: 35px;
  text-align: center;
  background-color: #e7e7e7;
  color: #2D2D2D
}

.waldoGif {
  padding: 35px;
}

.magnifier {
  border: 6px solid #D13939;
}