.smallScreenMessage {
    width: 100%;
    text-align: left;
    background-color: #2b2b2b;
    color: #FBFCFD;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}

.tooSmallImage {
    max-width: 150px;
}

.smallScreenText {
    margin: 5% 15%;
}