.game {
    background-color: #2b2b2b;
    color: #FBFCFD;
    height: 110vh;
}

#back-game {
    margin-left: 5%;
    padding-right: 0;
}

.backButton {
    width: 0;
}

.refreshButton {
    margin-top: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    color: #cecece;
    margin: 15px 25px;
}

.refreshButton:hover {
    color: #D13939;
}

.homeButton {
    margin-top: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    color: #cecece;
    margin: 25px;
}

.homeButton:hover {
    color: #D13939;
}

.map-container {
    background-color: #2b2b2b;
    width: 900px;
    margin: auto;
    align-items: center;
    /* border:#D13939 3px solid; */
}

.menu {
    position: fixed;
    background-color: #2b2b2b;
    color: #ffffff;
    width: 800px;
    height: 100px;
    z-index: 5;
    top: 2%;
    float: left;
    display: flex
}

.menu-text {
    color: #FBFCFD;
    font-weight: 500;
    font-size: 15px;
}

.counter-div {
    text-align: center;
    padding-top: 15px;
}